<div id="page">
	<div class="top"></div>
	<div class="content">
			
			<div class="header header_home page">
				
				<div class="price_tag"></div>
				
				
				<!-- Start App Screenshot -->
				<%= image_tag "screenshot.jpg", class: "main_screenshot" %>
				<!-- End App Screenshot -->
		
				<!-- Start App Info -->
				<div class="info">
					<h1>Great Software, Enterprise Grade.</h1>
					<p>Most of the software that drives your business is out-of-the-box and ready to go. However, the needs of every business are unique and often what's on the shelf doesn't cut it. RVSoft Solutions tailors software to meet your specific business needs. We combine intuitive, easy-to-use interfaces with the power that you would expect from an enterprise solution. Let us help boost the software power driving your business today!</p>

					<a href="/contact" class="button icon"><%= image_tag 'go_icon.png', alt: "" %><span>Contact Us Now!</span></a>
					<span class="trial">We love to hear any idea, especially yours!</span>
				</div>
				<!-- End App Info -->
				<div class="clear"></div>
				
			</div>
			
			<div id="home" class="padding">
				
				<div id="screenshots">
				
					<div class="section_title">
						<h3>Work</h3>
					</div>
				
					<a href="javascript:;" class="controls prev">Previous</a>
				
					<div class="scrollable">
						<div class="items">
						<!-- Start Screenshot Group 1 -->
						<ul>
							<li><%= link_to image_tag("screenshots/screen_1_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_2_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_3_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_4_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_5_thumb.jpg"), "#", class: "screenshot"%></li>
						</ul>
						<!-- End Screenshot Group 1 -->	
						<!-- Start Screenshot Group 2 -->
						<ul>
							<li><%= link_to image_tag("screenshots/screen_1_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_2_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_3_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_4_thumb.jpg"), "#", class: "screenshot"%></li>
							<li><%= link_to image_tag("screenshots/screen_5_thumb.jpg"), "#", class: "screenshot"%></li>
						</ul>
						<!-- End Screenshot Group 2 -->
						</div>
					</div>
				
					<a href="javascript:;" class="controls next">Next</a>
					
					<div class="clear"></div>
				</div>
				
				<div id="features">

					<div class="section_title">
						<h3>Approach &amp; Specializations</h3>
					</div>

					<p>
						<b>Not Out-of-the-Box</b>
						<%= image_tag "icons/track.gif" %>
						Business need software; however, sometimes what's on the shelf just doesn't cut it and you need something unique. That's where we come in. We tailor software to meet the needs of your business from CRM, CMS, e-Commerce, and more... 
					</p>
					
					<p>
						<b>But Outside-of-the-Box</b>
						<%= image_tag "icons/schedule.gif" %>
						We take a lot of pride in our ability to build software that people actually enjoy using. Enterprise has come to mean clunky, hard to learn, and difficult to adopt. Our goal is to create quick adoption of software by using interface approaches familiar to people in software they love (facebook), not software they hate (sharepoint). 
					</p>
					
					<p class="last">
						<b>Enterprise Grade</b>
						<%= image_tag "icons/organize.gif" %>
						Lorem ipsum dolor sit amet sit nsectetur adipiscing elit. Nunc et tempus est, a interdum lacus dignissim quis. Nunc pellentesque tempus est, a interdum lacus dignissim quis.
					</p>
					
					<div class="clear spacer"></div>
					
					<p>
						<b>Agile</b>
						<%= image_tag "icons/time.gif" %>
We truly believe that Agile methodologies bring the most value to our customers. We don't want to project impractical hour estimates or leave customers waiting for months for a product they may not even love. Bite size chunks of work are defined and minimal solutions created so that no work is lost. This keeps the customers happy (costs are lower), and the developers happy (hard work not wasted).</p>
					
					<p>
						<b>Price</b>
						<%= image_tag "icons/dude.gif" %>
						We have a fundamental belief that we want to provide VALUE for our customers. A lot of development shops are charging what the customer will pay, not their best price. We feel that our $99/hour rate for all services is both fair and affordable. We want to create relationships with businesses, not gouge them. 
					</p>
					
					<p class="last">
						<b>Web and Mobile Products</b>
						<%= image_tag "icons/task.gif" %>
With an increasingly remote and mobile workforce we truly believe that "cloud" computing is not just the future, but our very real present. Web applications (not websites) allow for enterprise grade software to be accessible to anyone, anywhere with all of your data kept in a centralized location where it can be backed up. No messy burden on IT; no more user error leading to lost information. 					</p>

					<div class="clear"></div>
				</div>
				
			</div>
			
		</div>
	<div class="bottom"></div>
</div>
	
