
	
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>Mobile Application Development</h1>
				<ul>
					<li class="active"></li>
					<li></li>
				</ul>
			</div>
			
			<div id="tour" class="padding">
				
				<p>Modern web based software often has an existing API layer or the potential for a very powerful one. Very complimentary to cloud based software is mobile technologies. Our team of developers has build both native and hybrid mobile applications. We currently endorse a hybrid model which allows for rapid cross-platform compatible mobile application development.</p>
				
				<!-- Start Embeddable Screencast -->
				<iframe src="http://player.vimeo.com/video/8730218?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0"></iframe>
				<!-- End Embeddable Screencast -->
	
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
	

