
	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>Plans &amp; Pricing</h1>
			</div>
			
			<!-- Start Price Table -->
			<div id="pricing" class="padding">
				
				<div id="row_names">
					<ul>
						<li>Set-up Fee</li>
						<li>Storage</li>
						<li>Custom Domains</li>
						<li>Secure SSL</li>
					</ul>
				</div>
				
				<div id="price_table">
					<table cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<td>
									<h2>Basic</h2>
									<span>$20 Monthly</span>
								</td>
								<td>
									<h2>Professional</h2>
									<span>$30 Monthly</span>
								</td>
								<td>
									<h2>Commercial</h2>
									<span>$40 Monthly</span>
								</td>
								<td class="last">
									<h2>Premium</h2>
									<span>$50 Monthly</span>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>None</td>
								<td>None</td>
								<td>$20</td>
								<td class="last">$20</td>
							</tr>
							<tr class="color">
								<td>5gb</td>
								<td>10gb</td>
								<td>25gb</td>
								<td class="last">50gb</td>
							</tr>
							<tr>
								<td><%= image_tag 'x.png', alt: "Included" %></td>
								<td><%= image_tag 'check.png', alt: "Included" %></td>
								<td><%= image_tag 'check.png', alt: "Included" %></td>
								<td class="last"><%= image_tag 'check.png', alt: "Included" %></td>
							</tr>
							<tr class="color">
								<td><%= image_tag 'x.png', alt: "Included" %></td>
								<td><%= image_tag 'x.png', alt: "Included" %></td>
								<td><%= image_tag 'check.png', alt: "Included" %></td>
								<td class="last"><%= image_tag 'check.png', alt: "Included" %></td>
							</tr>
							<tr class="buttons">
								<td><a href="signup.html" class="button"><span>Select Plan</span></a></td>
								<td><a href="signup.html" class="button"><span>Select Plan</span></a></td>
								<td><a href="signup.html" class="button"><span>Select Plan</span></a></td>
								<td><a href="signup.html" class="button"><span>Select Plan</span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="clear"></div>
				<!-- End Price Table -->
				
				<!-- Start FAQs -->
				<div id="faq">
					
					<div class="section_title">
						<h3>Pricing FAQ's</h3>
					</div>
					
					<div class="left">
						<h4>Can I cancel anytime?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
					</div>

					<div class="right">
						<h4>Is there a free trial?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
					</div>
					<div class="clear"></div>
					
					<div class="left">
						<h4>Can I cancel anytime?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
					</div>

					<div class="right">
						<h4>Is there a free trial?</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices nunc nec ipsum varius ultrices sodales massa gravida. Fusce eget nisi mattis dolor tincidunt blandit. Etiam in neque eget est scelerisque eleifend. Aenean posuere lorem et orci suscipit condimentum imperdiet magna rutrum. Etiam in neque eget est scelerisque Nunc ultrices .</p>
					</div>
					<div class="clear"></div>
					
				</div>
				
			</div>
			<!-- End FAQs -->
			
		</div>
		<div class="bottom"></div>
	</div>
